@font-face {
    font-family: "Quantico";
    src: url("../fonts/Quantico/Quantico-Regular.ttf");
}
@font-face {
    font-family: "Quantico";
    src: url("../fonts/Quantico/Quantico-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Quantico";
    src: url("../fonts/Quantico/Quantico-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "Quantico";
    src: url("../fonts/Quantico/Quantico-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik/Rubik-VariableFont_wght.ttf");
    
}
@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik/Rubik-Italic-VariableFont_wght.ttf");
    font-style: italic; 
}
