@font-face {
    font-family: "Quantico";
    src: url("../fonts/Quantico/Quantico-Regular.ttf");
}
@font-face {
    font-family: "Quantico";
    src: url("../fonts/Quantico/Quantico-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Quantico";
    src: url("../fonts/Quantico/Quantico-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "Quantico";
    src: url("../fonts/Quantico/Quantico-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}
