@use "../styles/media.scss";
@use "../styles/layout.scss";

.splash {
    width: 60vw;
    max-width: layout.$max-width;
    padding-top: 30px;
    justify-content: flex-start;
    text-align: center;

    @include media.mobile { width: 85vw; }
    @include media.tablet { width: 75vw; }
    @include media.desktop { padding-top: 15vh; }
}

.splash-title {
    h1 {
        margin: 0;
        font-weight: bold;
        font-size: 700%;
        color: #d41131;

        @include media.mobile { font-size: 14vw; }
    }
    h2 { 
        margin-top: 0;
        margin-bottom: 50px; 

        @include media.mobile { font-size: 4.5vw; }
    }
}

